#sfondo{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#bottoni-group{
    border: none;
    width: 100%;
    justify-content: center;
    display: flex;
}

#bottoni-group > div > button:hover{
    animation-name: riempi;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes riempi {
    from{
        background-color: rgba(245, 245, 245, 0.200);
        color: rgba(0, 0, 0, 0.500);
    }
    to{
        color: rgba(0, 0, 0);
        background-color: rgb(245, 245, 245);
    }
}

#btn-inizia{
    width: 100%;
    position: relative;
    border: solid black 1px;
    border-color: rgba(0, 0, 0, 0.282);
    color: whitesmoke;
}

#btn-login{
    width: 100%;
    position: relative;
    border: solid rgba(0, 0, 0, 0.282) 1px;
    color: whitesmoke;
}

#btn-inizia:hover{
    box-shadow: -0.1em 0.8em 15px rgba(0, 0, 0, 0.748);
}

#btn-login:hover{
    box-shadow: 0.1em 0.8em 15px rgba(0, 0, 0, 0.748);
}

#link, #link:visited{
    color: unset;
    text-decoration: none;
}


legend{
    background-color: rgb(63, 63, 63);
    padding: .4px;
}

#ctn-register{
    width: fit-content;
    height: fit-content;
    margin-top: 55px;
}

#ctn-login{
    width: fit-content;
    height: fit-content;
    margin-top: 140px;
}

#Form{
    color: white;
    background-color: rgba(0, 0, 0, 0.345);
}

#Progress-bar{
    width: 100%;
    height: 7px;
    max-width: 100%;
}

#al{
    font-size: 15px;
}

.label{
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: larger;
}


/* stile relativo all'alert */

#alert{
    z-index: 0;
    width: fit-content;
    height: fit-content;
}

/* --------------------------*/

#dropdown::after{
    content: none !important;
}

#FormViaggi{
    color: white;
    background-color: rgba(0, 0, 0, 0.345);
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    border-bottom: 0px;
    border: 0px;
}

#ctn-tappe{
    border: 0px;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-top: 0px;
    padding: 12px;
}

#ctn-viaggi{
    border-radius: 0.375rem;
    padding: 0;
    box-shadow: 0px 0.55pc 1em 3px;
}

#card{
    flex-direction: row;
    align-items: center;
}

#btn-delete:hover{
    background-color: rgba(255, 0, 0, 0.773);
}

#cardGroup{
    justify-content: center;
}